
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.weather-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
}

p {
  font-size: 1.5em;
  margin: 10px 0;
}
